/**
 *
 * Apply Here your Custom CSS
 *
*/



.navbar{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
}

#no{
	text-decoration: none;
}


.ptag{
	font-size: 15px;
	font-weight: bolder;
	color: #77B112;
}

#badge{
	padding: 5px;
}

.details{
	width: 50%
}

.describe{
	padding: 5px;
}

.insured{
	padding: 20px;
}

.alert{
	font-size: 30px;
	color: #77b112
}

.p-alert{
	padding: 15px;
}
