/* fancybox.less
=========================================================*/
/* gallery.less
=========================================================*/
.jg_subcatelem_txt {
  background: rgba(0, 0, 0, 0.5);
}
.jg_subcatelem_txt:before {
  background: #000000;
}
.jg_imgalign_catimgs .jg_catelem_txt {
  background: rgba(0, 0, 0, 0.5);
}
.jg_imgalign_catimgs .jg_catelem_txt:before {
  background: #000000;
}
/* komento.less
=========================================================*/
#section-kmt .kmt-control-user .kmt-btn {
  border: 1px solid #1a1a1a;
  color: #353535;
}
#section-kmt .kmt-like-counter {
  border: 1px solid #1a1a1a;
}
#section-kmt .kmt-like-counter:before {
  border-left: 5px solid #1a1a1a;
}
#section-kmt .kmt-rank-progress {
  background: #000000;
}
/* layout.less
=========================================================*/
/* owl-carousel.less
=========================================================*/
@-webkit-keyframes fadeOut {
}
@keyframes fadeOut {
}
/* swiper.less
=========================================================*/
.swiper-scrollbar-drag {
  background: #000000;
}
@-webkit-keyframes swiper-preloader-spin {
}
@keyframes swiper-preloader-spin {
}
/* template.less
=========================================================*/
@-webkit-keyframes fadeIn {
}
@keyframes fadeIn {
}
.tags .label {
  background: #000000;
}
.item_info .item_info_dl dd {
  color: #000000;
}
.item_info .item_info_dl dd a {
  color: #000000;
}
.item_info .item_info_dl dd a:hover {
  color: #d9d9d9;
}
.social-links li a {
  color: #000000;
}
.acymailing_form td input[type="text"]:focus,
.acymailing_form td input[type="password"]:focus,
.acymailing_form td input[type="datetime"]:focus,
.acymailing_form td input[type="datetime-local"]:focus,
.acymailing_form td input[type="date"]:focus,
.acymailing_form td input[type="month"]:focus,
.acymailing_form td input[type="time"]:focus,
.acymailing_form td input[type="week"]:focus,
.acymailing_form td input[type="number"]:focus,
.acymailing_form td input[type="email"]:focus,
.acymailing_form td input[type="url"]:focus,
.acymailing_form td input[type="search"]:focus,
.acymailing_form td input[type="tel"]:focus,
.acymailing_form td input[type="color"]:focus,
.acymailing_form td .uneditable-input:focus {
  border-color: #d9d9d9;
}
.acymailing_form td .btn,
.acymailing_form td .kbutton {
  background: white;
}
.acymailing_form td .btn:focus,
.acymailing_form td .kbutton:focus,
.acymailing_form td .btn:hover,
.acymailing_form td .kbutton:hover {
  color: #000000;
  background: #d9d9d9;
}
hr {
  border-top: 1px solid #272727;
}
a {
  color: #000000;
}
blockquote cite {
  color: #000000;
}
.item_introtext mark,
.item_fulltext mark,
.category_desc mark {
  background: #000000;
}
table th {
  background: #000000;
}
table a {
  color: #000000;
}
dl.table dt {
  background: #000000;
}
div.chzn-container .chzn-results li.highlighted {
  background: #000000;
}
span.checkbox {
  border: 1px solid #000000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
span.checkbox label.checkbox_inner:before {
  color: #000000;
}
span.radio input[type="radio"]:checked + label.radio_inner:before {
  background: #000000;
}
.input-prepend {
  /* .add-on:first-child,
  .btn:first-child {
    
    } */
}
.input-prepend .add-on i,
.input-prepend .add-on > span {
  color: #000000;
}
.input-prepend .add-on:hover i {
  background: #000000;
}
/* Allow for input prepend/append in search forms */
.btn,
.kbutton {
  color: #77b112;
}
.btn:hover,
.kbutton:hover,
.btn:focus,
.kbutton:focus,
.btn.focus,
.kbutton.focus,
.btn.active,
.kbutton.active,
.btn.selected,
.kbutton.selected {
  color: #000000;
  background: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-danger {
  color: #000000;
}
.btn-success {
  color: #000000;
}
/* .btn-info {
  
  color: @btn-color;
  &:hover {
    
    
  }
} */
.btn-inverse {
  color: #000000;
}
/* .btn-default {
    
}
.btn-primary {
    
}

.btn-success {
    
}

.btn-info {
    
}

.btn-warning {
    
}

.btn-danger {
    
}
 */
/* 
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  
} */
.nav-tabs > li > a {
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  color: #000000;
}
.nav-tabs > li > a:hover {
  color: #000000;
  border-color: #000000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000000;
  border-color: #000000;
}
.breadcrumb a:hover {
  color: #000000;
}
/*.label-default {
  
}

.label-primary {
  
}

.label-success {
  
}

.label-info {
  
}

.label-warning {
  
}

.label-danger {
  
}
*/
ul li a,
ol li a {
  color: #77b112;
}
ol li:before {
  background: #000000;
}
.panel-group .panel-heading a {
  border: 1px solid #000000;
}
.custom .panel-group .panel-heading a {
  border-bottom-color: #000000;
}
/* .panel-default {
     
  } */
/*.panel-primary {
     
}
.panel-success {
     
}
.panel-info {
     
}
.panel-warning {
     
}
.panel-danger {
     
}*/
.modal {
  background: #000000;
}
.modal-content {
  background-color: #000000;
}
.offline_container .well {
  background: #000000;
}
.mod-menu .nav.menu.nav-pills > li.active > a {
  background: #000000;
}
.icons .btn-group.pull-right ul.dropdown-menu > li > a:hover {
  background: #000000;
}
.body__elements #content-bottom .moduletable.col-sm-12 .module_container:before {
  background: #000000;
}
.body__elements .spacer {
  background: #000000;
}
/*======================= Search & Smart Search ========================*/
#back-top a {
  color: #000000;
}
*::selection {
  background: #000000;
}
*::-moz-selection {
  background: #000000;
}
.icemega_modulewrap.top_search i.fa-times {
  color: #000000;
}
.icemega_modulewrap.top_search .btn-primary {
  color: #000000;
}
div#fixed-sidebar-right .moduletable.login > i.fa-user {
  background: white;
}
div#fixed-sidebar-right .moduletable.login .mod_login_wrapper .input-prepend .add-on:hover i {
  color: #000000;
}
.menu-login-form > ul:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent #000000 transparent;
}
.blog_categories ul li:before {
  color: #000000;
}
.page-category__history .items-row > div:before {
  background: #000000;
}
.page-category__history .items-row:before {
  background: #000000;
}
.page-category__faqs .item_title span.item_title_part0 {
  color: #000000;
}
.icemegamenu > ul > li span.icemega_desc {
  color: #d9d9d9;
}
ul.icesubMenu li a.iceMenuTitle {
  color: #000000;
}
.mod-newsflash-adv.counters .item_title {
  color: #000000;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_simple .item .item_content {
  border: 1px solid #000000;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_simple .item .item_content .item_title {
  color: #000000;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_simple .item.featured .item_content .btn:hover {
  background: #000000;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_detailed .item .item_title {
  color: #000000;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_detailed .item .item_content {
  border: 1px solid #000000;
}
.mod-newsflash-adv__recent_posts .item .item_createdby,
.mod-newsflash-adv__recent_posts .item .item_published {
  color: #000000;
}
.mod-newsflash-adv__recent_posts .item .item_createdby:before,
.mod-newsflash-adv__recent_posts .item .item_published:before {
  color: #000000;
}
.mod-newsflash-adv__recent_posts .item .item_createdby:after,
.mod-newsflash-adv__recent_posts .item .item_published:after {
  color: #000000;
}
#bg_video__overlay svg rect + rect {
  fill: #000000 !important;
}
#bg_video__content #bg_video__btn:hover {
  background: #d9d9d9;
}
#kunena .kfrontend thead {
  background: #000000;
}
#kunena .pagination li {
  background: #000000;
}
#kunena .pagination li:hover {
  background: #d9d9d9;
}
.portfolio .gallery-item .gallery-item__content .item_img .more_wrapper {
  background: rgba(0, 0, 0, 0.5);
}
.portfolio .gallery-item .gallery-item__content .item_header h1.item_title a,
.portfolio .gallery-item .gallery-item__content .item_header h2.item_title a,
.portfolio .gallery-item .gallery-item__content .item_header h3.item_title a,
.portfolio .gallery-item .gallery-item__content .item_header h4.item_title a,
.portfolio .gallery-item .gallery-item__content .item_header h5.item_title a,
.portfolio .gallery-item .gallery-item__content .item_header h6.item_title a {
  color: #000000;
}
.item_img .articleGalleryZoom:before,
.item_img .galleryZoomIcon:before {
  background: #000000;
}
@media (max-width: 767px) {
  .rd-mobilemenu_ul a.iceMenuTitle:hover {
    background: #000000;
  }
  .rd-mobilemenu_ul a.active,
  .rd-mobilemenu_ul li.level_1.active > a {
    background: #000000;
  }
}
