#mycontainer {
	margin-top: 30px;
}


#mainbottom-2 {
	margin-top: 0px;
}

#mynav {
	float: right;
	margin-top: -20px;
}

#head {
	text-align: center;
}

#limy {
	padding-right: 30px !important;
}

#button {
	margin: 0 auto;
	display: block;
}

#label1 {
	float: none !important;
}

.tabs {
	margin-top: 5px;
}

.panel-body {
	margin-top: 10px;
}

#side-info {
	padding-right: -15px;
}

#btn-last {
	margin-left: 500px;
}

/* BLESSING */
#header {
	position: inherit !important;
	height: auto !important;
	padding-top: 0 !important;
}

img {
	margin-top: 0px;
	padding: 0px;
}

.site-logo img {
	width: 55% !important;
	padding: 0px;
}

#logo {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

.swiper-slide-caption {
	width: unset;
	padding-top: 2% !important;
}

.box-btn .list_wishlists_remove1 {
	display: block !important;
}



@media (max-width: 767px) {

	#header {
		position: inherit !important;
		height: auto !important;
	}

	#logo {
		display: flex;
		justify-content: center;
		text-align: center;
	}

	#logo a img {
		float: none;
		margin-right: 0px;
		display: block;
		margin: 0 auto;
		margin-top: 10px;
	}

	.site-logo img {
		width: 25% !important;
		padding: 0px;
	}

	.swiper-slide-caption {
		display: inline-block;
		width: unset;
		max-height: 100%;
		vertical-align: middle;
		white-space: normal;
		padding-top: 2% !important;
	}

	.parallax[class*=_parallax1] {
		color: black;
		margin-bottom: 0;
		padding: 0px 0 0px;
	}

	#component {
		min-height: 0;
		margin-top: 0px;
	}
}
